.HeaderParent {
  display: flex;
  background-image: url("../../layered-peaks-haikei.svg");
  justify-content: center;
  height: 300px;
}

.NameCard {
  animation: fadeIn 1s;
  padding-bottom: 50px;
  padding-top: 200px;
}

.NameCardTitle {
  font-size: 40px;
  margin: 0;
  color: #8ddddd;
}

.NameCardSub {
  font-size: 24px;
  font-style: italic;
  font-weight: lighter;
  margin: 0;
  color: white;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-25px);
  }
  100% {
    opacity: 100;
    transform: translateX(0px);
  }
}