.AboutMeParent {
  background-color: #091520;
  position: relative;
  height: 400px;
  margin: auto;
  display: flex;
  flex-direction: row;
  padding-top: 40px;
}

.AboutMeCol {
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.AboutMeHeadingText::after {
  background: none repeat scroll 0 0 #54a9c1;
  bottom: -10px;
  content: "";
  display: block;
  height: 5px;
  position: relative;
  width: 60px;
}

.AboutMeText {
  padding-right: 50px;
}

.ResumeButton {
  width: 150px;
  height: 40px;
  background: #2e4373;
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 5px 0px 13px;
}

@media only screen and (max-width: 600px) {
  .AboutMeParent {
    flex-direction: column;
    align-items: center;
  }

  .AboutMeText {
    padding-right: 0;
  }

  .AboutMeCol {
    width: 70%;
    color: white;
    display: flex;
    flex-direction: column;
  }

  .AboutMeHeadingText::after {
    background: none repeat scroll 0 0 #54a9c1;
    bottom: -10px;
    content: "";
    display: block;
    height: 5px;
    position: relative;
    width: 60px;
  }
}