.AboutMeParent {
  background-color: #001220;
  position: relative;
  height: 370px;
  margin: auto;
  display: flex;
  flex-direction: row;
  padding-bottom: 100px;
}

.AboutMeCol {
  width: 50%;
  color: white;
  display: flex;
  text-align: left;
  justify-content: center;
  align-items: center;
}

.AboutMeHeadingText::after {
  background: none repeat scroll 0 0 #54a9c1;
  bottom: -10px;
  content: "";
  display: block;
  height: 5px;
  position: relative;
  width: 60px;
}

.AboutMeText {
  padding-right: 50px;
  margin-bottom: 30px;
  line-height: 22px;
}

.ResumeButton {
  background: #2e4373;
  color: #fff;
  font-weight: 700;
  height: 20px;
  padding: 15px 5px 15px 5px;
  text-decoration: none;
  width: 150px;
  text-align: center;
  margin-right: 25px;
}

.AboutMeContent {
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 300ms;
}

.ProfilePicture {
  border-radius: 50%;
  width: 60%;
  align-self: center;
  opacity: 0;
  animation: fadeIn 1s forwards;
  animation-delay: 150ms;
}

.SocialLogo {
  width: 59px;
  padding-top: 5px;
  margin-right: 15px;
}

.AboutMeButtonsContainer {
  height: 50px;
  display: flex;
  align-items: center;
}

a {
  color: #54a9c1;
}

@media only screen and (max-width: 600px) {
  .AboutMeParent {
    flex-direction: column;
    align-items: center;
    height: 635px;
  }

  .AboutMeText {
    padding-right: 0;
    line-height: 20px;
  }

  .AboutMeCol {
    width: 70%;
    color: white;
    display: flex;
    flex-direction: column;
  }

  .AboutMeHeadingText::after {
    background: none repeat scroll 0 0 #54a9c1;
    bottom: -10px;
    content: "";
    display: block;
    height: 5px;
    position: relative;
    width: 60px;
  }
}

@media only screen and (max-width: 330px) {
  .AboutMeParent {
    height: 550px;
  }

  .AboutMeText, .AboutMeHeadingText {
    padding: 0 10px 0 10px;
  }
}
